body {
    text-align: center;
    font-family: "Playwrite GB S", cursive;
    background: linear-gradient(#161b33, #52b788);
    color: whitesmoke;
}

h1, h2, h3, h4, p {
    text-shadow: 1px 1px 1px blue;
}

#main-img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #52b788;
    margin-bottom: 10px;
}

#bday-age {
    background: #52b788;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #52b788;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 5px solid burlywood;
    border-radius: 15px;
    background-image: url("https://images.unsplash.com/photo-1513885045260-6b3086b24c17?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdm9jZTEzMTY2dG1qN25nenZoaWRqdGRxMmxvbGxpdXhhbm00N2FnMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lMsT2f47tDxFMYdJMC/giphy.webp");
}

#gift-img-hot:hover {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXhuOTlpNzZwMGZlYWkzbHo0a2pqaWhtc2cxeDBnZzl3ZDVsem96aCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/K0Mmal97YNYkw/200w.webp");
}

#gift-img-goat:hover {
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdjM1eW9oMjN4djc3aHZndXJ2MGRsNjhsZGJyZXhyajY2NWw5NjVhYiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/alvlhqPcBSNDs4wE3P/giphy.webp");
}

#gift-img-badass:hover {
    background-image: url("https://media2.giphy.com/media/GotXuxqhIZvs4/giphy.webp?cid=ecf05e47676jphlobr95qmmv51pgqdic5y7t6tiioli38esr&ep=v1_gifs_search&rid=giphy.webp&ct=g");
}

#gift-img-cheers:hover {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnZhZm5idzJnenlpbm52NW8zazE5YTk5OW95eGczbTc0Ymwza2IzNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rjkJD1v80CjYs/giphy.webp");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: whitesmoke;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/